<div class="flex">
  <div class="container">
    <div class="image-container">
      <img aria-hidden="true" src="../assets/img/truong.jpg" alt="Office">
    </div>
    <div class="form-container">
      <form (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <label>
          <span>Email</span>
          <input type="email" name="email" placeholder="Jane Doe" required>
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password" placeholder="***************" required>
        </label>
        <button type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>
